@model IEnumerable<ToDoNet.Models.Item>

@{
    ViewData["Title"] = "ToDo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>To Do List</h2>
    <p>@Html.ActionLink("Task list", "Index", "Items")</p>

